# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [2]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
temp = {}

for a, b in test_list:
  if a in temp:
    temp[a].append(b)
  else:
    temp[a] = [b]


res = [ (key, *values) for key, values in temp.items() ]
res

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result. 


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [4]:
# write your code here
test_tuple = (1, 5, 7, 8, 10)

lst = list(test_tuple)
n = len(lst)
res = []

for i in range(n):
  if i == 0:
    res.append(lst[i] * lst[i + 1])
  elif i == n - 1:
    res.append(lst[i] * lst[i - 1])
  else:
    res.append(lst[i] * lst[i - 1] + lst[i] * lst[i + 1])

result = tuple(res)
print("Resultant tuple after multiplication:", result)

Resultant tuple after multiplication: (5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [6]:
# write your code here
t1 = (1, 2, 3, 0)
t2 = (0, 1, 2, 3)

if t1 == t2:
  print("Same")
else:
  print("Not Same")

Not Same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [10]:
# write your code here
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]
list_count = 0
set_count = 0
tuple_count = 0

for item in list1:
  if isinstance(item, list):
    list_count += 1
  elif isinstance(item, set):
    set_count += 1
  elif isinstance(item, tuple):
    tuple_count += 1

print("List-", list_count)
print("Set-", set_count)
print("Tuples-", tuple_count)

List- 2
Set- 2
Tuples- 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [11]:
# write your code here
n = int(input("Enter No of records- "))
students = []

for i in range(n):
  print(f"Enter Details of student-{i+1}")
  name = input("Enter Student name- ").strip()
  education = input("Enter Higher Education- ").strip()
  skill = input("Enter Primary Skill- ").strip()
  graduation_year = input("Enter Year of Graduation- ").strip()
  students.append((name, education, skill, graduation_year))

print("\nEnter Job Role Requirement")
req_skill = input("Enter Skill- ").strip()
req_education = input("Enter Higher Education- ").strip()
req_year = input("Enter Year of Graduation- ").strip()

found = False
for student in students:
  name, edu, skl, year = student
  if skl == req_skill and edu == req_education and year == req_year:
    print(student)
    found = True

if not found:
  print("No such candidate")

Enter Details of student-1

Enter Job Role Requirement
No such candidate

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [13]:
# write your code here
s1 = set([1, 5, 10, 20, 40, 80])
s2 = set([6, 7, 20, 80, 100])
s3 = set([3, 4, 15, 20, 30, 70, 80, 120])

s1 & s2 & s3

{20, 80}

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [16]:
# write your code here
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
s = set(Str1)
vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}

vowels_list = [vowel for vowel in s if vowel in vowels]
len(vowels_list)

6

### `Q3:` Write a program to Check if a given string is binary string of or not. 

A string is said to be binary if it's consists of only two unique characters.

Take string input from user. 

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [21]:
# write your code here
user_input = input("String: ")
s = set(user_input)

if len(s) == 2:
  print("Yes.")
else:
  print("No.")

No.

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [24]:
# write your code here
arrays = [
  [1, 2, 2, 4, 3, 6],
  [5, 1, 3, 4],
  [9, 5, 7, 1],
  [2, 4, 1, 3]
]

union_set = set()
for arr in arrays:
  union_set.update(arr)

result = sorted(union_set)
result

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [25]:
# write your code here
lst1 = [15, 9, 10, 56, 23, 78, 5, 4, 9]
lst2 = [9, 4, 5, 36, 47, 26, 10, 45, 87]

intersection = [x for i, x in enumerate(lst1) if x in lst2 and x not in lst1[:i]]
intersection

[9, 10, 5, 4]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
# write your code here
test_dict = {
  "CampusX" : [5, 7, 9, 4, 0],
  "is" : [6, 7, 4, 3, 3],
  "Best" : [9, 9, 6, 5, 5]
}

max_unique = 0
result = ""

for key in test_dict:
  unique_count = len(set(test_dict[key]))
  if unique_count > max_unique:
    max_unique = unique_count
    result = key
result

'CampusX'

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [28]:
# write your code here

test_str = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}
words = test_str.split()

replaced_words = [repl_dict.get(word, word) for word in words]
result = ' '.join(replaced_words)
print(replaced_words)
result

['CampusX', 'is the best channel', 'for', 'Data-Science', 'students.']

'CampusX is the best channel for Data-Science students.'

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [29]:
# write your code here
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

res = []

for i in range(0, len(test_list), len(key_list)):
  temp = dict(zip(key_list, test_list[i:i+len(key_list)]))
  res.append(temp)

res

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
# write your code here
tuple_list = [("A", 10), ("B", 12), ("C", 14), ("A", 20), ("C", 25), ("C", 30)]

res = {key: [value] for key, value in tuple_list}
res

{'A': [20], 'B': [12], 'C': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [32]:
# write your code here
test_dict = {'c': [3], 'b': [12, 10], 'a': [19, 4]}
sorted_dict = {key: sorted(test_dict[key]) for key in sorted(test_dict)}
sorted_dict

{'a': [4, 19], 'b': [10, 12], 'c': [3]}